.header {
  height: var(--header-height);
  padding: 0 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginLink {
  text-decoration: none;
  color: inherit;
}