.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.title {
  height: 30px;
  width: 220px;
}

.button {
  height: 42px;
  width: 150px;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
